<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div th:replace="'template/head' :: head"></div>

<body>

<div th:replace="'template/navbar' :: navbar"></div>

<main role="main">
    <div class="container-fluid mt-5">
        <form class="jumbotron form-signup" method="post" role="form" th:action="@{/auth/signup}" th:object="${user}">
            <div class="text-center">
                <img class="mb-4 text-center" th:src="@{/img/brand.png}" alt="" width="72"
                     height="72">
                <h1 class="h3 mb-3 font-weight-normal">Daftar untuk menggunakan SIKDP</h1>
            </div>
            <hr>
            <div class="alert alert-success" role="alert" th:if="${msg}" th:utext="${msg}"></div>
            <div class="form-control-feedback">
                <span class="text-danger align-middle" th:if="${#fields.hasErrors('email')}"
                      th:errors="*{email}"></span>
            </div>
            <div class="form-control-feedback">
                <span class="text-danger align-middle" th:if="${#fields.hasErrors('password')}"
                      th:errors="*{password}"></span>
            </div>
            <div class="row">
                <div class="col-md-5">

                    <h6>Data diri</h6>

                    <label for="inputNik" class="sr-only">NIK</label>
                    <input th:field="*{nik}" type="text"
                           id="inputNik" class="form-control top" placeholder="NIK"
                           required autofocus>
                    <label for="inputND" class="sr-only">Nama
                        depan</label>
                    <input th:field="*{namaDepan}" type="text" id="inputND"
                           class="form-control inside" placeholder="Nama depan" required>

                    <label for="inputNB" class="sr-only">Nama belakang</label>
                    <input th:field="*{namaBelakang}" type="text"
                           id="inputNB" class="form-control inside"
                           placeholder="Nama belakang" required>

                    <!--<label for="inputJK" class="sr-only">Jenis kelamin</label>-->
                    <!--<input th:field="*{jenisKelamin}" type="text"-->
                    <!--id="inputJK" class="form-control inside"-->
                    <!--placeholder="Jenis kelamin" required>-->

                    <label for="inputJenisKelamin" class="sr-only">Jenis kelamin</label>
                    <select id="inputJenisKelamin" class="form-control mb-md-2" th:field="*{jenisKelamin}">
                        <option selected th:value="'Laki-laki'" th:text="Laki-laki"></option>
                        <option th:value="'Perempuan'" th:text="Perempuan"></option>
                    </select>

                    <label
                            for="inputNoHp" class="sr-only">No HP</label>
                    <input th:field="*{noHP}" type="text"
                           id="inputNoHP" class="form-control inside" placeholder="No HP"
                           required>
                    <label for="inputTempatLahir" class="sr-only">Tempat lahir</label>
                    <input th:field="*{tempatLahir}"
                           type="text" id="inputTempatLahir" class="form-control inside"
                           placeholder="Tempat lahir" required>
                    <label
                            for="inputTanggalLahir">Tanggal lahir</label>
                    <input th:field="*{tanggalLahir}" type="date"
                           id="inputTanggalLahir" class="form-control inside"
                           placeholder="Tanggal lahir" required>
                    <label
                            for="inputRTRW" class="sr-only">RT/RW</label>
                    <input th:field="*{alamatRtRw}" type="text"
                           id="inputRTRW" class="form-control inside" placeholder="RT/RW"
                           required>
                    <label for="inputDusun" class="sr-only">Dusun</label>
                    <input th:field="*{alamatDusun}"
                           type="text" id="inputDusun" class="form-control inside"
                           placeholder="Dusun" required>
                    <label for="inputDesa" class="sr-only">Desa</label>
                    <input th:field="*{alamatDesa}" type="text" id="inputDesa"
                           class="form-control inside" placeholder="Desa" required>
                    <label
                            for="inputKecamatan" class="sr-only">Kecamatan</label>
                    <input th:field="*{alamatKecamatan}" type="text"
                           id="inputKecamatan" class="form-control bottom"
                           placeholder="Kecamatan" required>
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-5">
                    <h6>Data akun</h6>
                    <label for="inputUsername" class="sr-only">Username</label>
                    <input th:field="*{username}" type="text"
                           id="inputUsername" class="form-control top" placeholder="Username"
                           required>
                    <label for="inputEmail" class="sr-only">Email address</label>
                    <input th:field="*{email}"
                           type="email" id="inputEmail" class="form-control inside"
                           placeholder="Email address" required>
                    <label for="inputPassword" class="sr-only">Password</label>
                    <input th:field="*{password}" type="password"
                           id="inputPassword" class="form-control inside"
                           placeholder="Password" required>

                    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
                    <p class="mt-4 text-center">Already have account?</p>
                    <a class="btn btn-lg btn-info btn-block" th:href="@{/auth/login}">Sign in</a>
                </div>
                <div class="col-md-1"></div>
            </div>
            <hr>
            <p class="mt-4 mb-3 text-muted text-center">
                Copyright &copy; 2018 SIKDP. <br>All rights reserved.
            </p>
        </form>
    </div>
</main>

<div th:replace="'template/footer' :: footer"></div>

</body>
</html>
