<!DOCTYPE html>
<html lang="id" xmlns:th="http://www.thymeleaf.org">

<div th:replace="'template/head' :: head"></div>

<body>

<div th:replace="'template/navbar' :: navbar"></div>

<div class="container mt-4 mb-4">
    <h3 class="mb-4">Daftar Berita</h3>

    <div th:if="${not #lists.isEmpty(berita)}">
        <table class="table table-hover table-bordered table-striped">
            <thead class="thead-dark">
            <tr>
                <th>Judul Berita</th>
                <!--<th>Isi</th>-->
                <!--<th>Foto</th>-->
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <!-- Banyak data nya array, maka menggunakan for each dari thymeleaf -->

            <tr th:each="_berita : ${berita}">
                <td th:text="${_berita.judul}"></td>
                <!--<td th:text="${_berita.isi}"></td>-->
                <!--<td th:text="${_berita.foto}"></td>-->
                <td>
                    <a th:href="${'/berita/view/' + _berita.id}">
                        <span class="fa fa-eye"></span>
                    </a>
                    |
                    <a th:href="${'/berita/edit/' + _berita.id}">
                        <span class="fa fa-edit"></span>
                    </a>
                    |
                    <a th:href="${'/berita/hapus/' + _berita.id}">
                        <span class="fa fa-trash"></span>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <a class="btn btn-primary" href="/berita/create">Add New</a>
</div>

<div th:replace="'template/footer' :: footer"></div>

<!-- Bootstrap core JavaScript
================================================== -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
<script
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>

</body>
</html>
