<!DOCTYPE html>
<html lang="id" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<div th:replace="'template/head' :: head"></div>

<body>

<header th:replace="'template/navbar' :: navbar"></header>

<main role="main">

    <div th:replace="'template/header' :: header"></div>

    <div id="content" class="container">
        <div class="row">
            <div class="col-md-8">
                <h2 class="f-poppin mb-4">Berita</h2>
                <div class="row" th:if="${not #lists.isEmpty(berita)}">
                    <div class="card-deck col-md-6" th:each="_berita : ${berita}">
                        <div class="card mb-4 shadow-sm">
                            <img class="card-img-top"
                                 th:src="@{/files/} + *{_berita.foto}"
                                 alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title" th:text="*{_berita.judul}"></h5>
                            </div>
                            <div class="card-footer">
                                <div class="d-flex justify-content-between align-items-center">
                                    <a th:href="@{/berita/view/} + *{_berita.id}" class="btn btn-sm btn-secondary">Selengkapnya</a>
                                    <small class="text-muted"
                                           th:text="${#dates.format(_berita.getTanggal(), 'EEEE, dd MMMM yyyy')}"></small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12" style="text-align: center;">
                        <a class="btn btn-outline-primary" href="/berita">Lihat Semua</a>
                    </div>
                </div>

                <hr>

                <h2 class="mt-4 mb-4">Harga komoditi</h2>
                <div class="row" th:if="${not #lists.isEmpty(hargaKomoditi)}">
                    <div class="col-md-12">
                        <table class="table table-hover table-bordered table-striped">
                            <thead class="thead-dark">
                            <tr>
                                <th>Komoditi</th>
                                <th>Waktu update</th>
                                <th>Harga (Rp/Kg)</th>
                            </tr>
                            </thead>
                            <tbody>

                            <tr th:each="_hargaKomoditi : ${hargaKomoditi}">
                                <td th:text="${_hargaKomoditi.komoditi.namaKomoditi}"></td>
                                <td th:text="${#dates.format(_hargaKomoditi.tanggal, 'EEEE, dd MMMM yyyy | ''Pukul'' HH:mm ''WIB''')}"></td>
                                <td th:text="'Rp. ' + ${#numbers.formatDecimal(_hargaKomoditi.harga, 0, 'POINT', 2, 'COMMA')}"></td>
                            </tr>
                            </tbody>
                        </table>

                    </div>
                    <div class="col-md-12" style="text-align: center;">
                        <a class="btn btn-outline-primary" href="/harga-komoditi/">Lihat semua</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <h2 class="f-poppin mb-4">Pengumuman</h2>
                <div class="row" th:if="${not #lists.isEmpty(pengumuman)}">
                    <div class="col-md-12" th:each="_pengumuman : ${pengumuman}">
                        <div class="card mb-2">
                            <div class="card-body">
                                <h6 class="card-title card-link">
                                    <a th:href="@{/pengumuman/view/} + ${_pengumuman.getId()}"
                                       th:text="${_pengumuman.getJudul()}" class="card-link"></a>
                                </h6>
                                <p class="card-subtitle text-muted">
                                    <small>
                                        <span class="fa fa-calendar"></span>
                                        <span th:text="${#dates.format(_pengumuman.getTanggal(), 'EEEE, dd MMMM yyyy')}"></span>
                                        |
                                        <span class="fa fa-clock"></span>
                                        <span th:text="${#dates.format(_pengumuman.getTanggal(), 'HH:mm')} + ' WIB'"></span>
                                    </small>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12" style="text-align: center;">
                        <a href="/pengumuman/" class="btn btn-outline-primary">Lihat lebih lama</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<footer th:replace="~{'template/footer' :: footer}"></footer>

<!-- Bootstrap core JavaScript
================================================== -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>

</body>
</html>