<!DOCTYPE html>
<html lang="id" xmlns:th="http://www.thymeleaf.org">

<div th:replace="'template/head' :: head"></div>

<body>

<div th:replace="'template/navbar' :: navbar"></div>

<div class="container mt-4 mb-4">

    <h2>Tambahkan Laporan Kelompok</h2>

    <!--Tambahkan sintaks-->
    <div class="row">
        <div class="col-sm-8">
            <form class="form-horizontal" th:object="${laporanKelompok}"
                  enctype="multipart/form-data" method="post" th:action="@{/laporan-kelompok/create}">
                <input type="hidden" th:field="*{id}"/>
                <input type="hidden" th:field="*{version}"/>
                <input th:field="*{kelompokTani}" type="hidden"/>

                <div class="form-group">
                    <label class="col-sm-3 control-label">Nama Laporan:</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" th:field="*{namaLaporan}" required/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Deskripsi:</label>
                    <div class="col-sm-9">
                        <textarea class="form-control" th:field="*{deskripsi}" rows="3" required></textarea>
                    </div>
                </div>
                <div class="form-group col-md-9">
                    <label for="inputStatus">Status</label>
                    <select id="inputStatus" class="form-control" th:field="*{status}" required>
                        <option selected th:value="'Waiting'" th:text="Waiting"></option>
                        <option th:value="'Accept'" th:text="Accept"></option>
                        <option th:value="'Reject'" th:text="Reject"></option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Tanggal:</label>
                    <div class="col-sm-9">
                        <input type="date" class="form-control"
                               th:field="*{tanggal}" required/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">File Laporan:</label>
                    <div class="col-sm-9">
                        <input type="file" class="form-control-file" th:field="*{laporan}" required/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-9">
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div th:replace="'template/footer' :: footer"></div>

<!-- Bootstrap core JavaScript
================================================== -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        crossorigin="anonymous"></script>
<script
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>

</body>
</html>