<!DOCTYPE html>
<html lang="id" xmlns:th="http://www.thymeleaf.org">

<div th:replace="'template/head' :: head"></div>

<body>

<div th:replace="'template/navbar' :: navbar"></div>

<div class="container mt-4 mb-4">
    <h3 class="mb-4">Daftar Kelompok Tani</h3>

    <!-- Logika nya, jika ada data pada tabel maka akan ditampilkan-->
    <div th:if="${not #lists.isEmpty(kelompok)}">

        <table class="table table-hover table-bordered table-striped">
            <thead class="thead-dark">
            <tr>
                <th>Nama Kelompok</th>
                <th>Ketua</th>
                <th>Jumlah Anggota</th>
                <th>Luas Lahan Sawah (m2)</th>
                <th>Luas Lahan Darat (m2)</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="_kelompok : ${kelompok}">
                <td th:text="${_kelompok.namaKelompok}"></td>


                <td th:text="${userService.findById(_kelompok.id).isPresent()? userService.findById(_kelompok.id).get().getNamaDepan()
						+ ' ' +  userService.findById(_kelompok.id).get().getNamaBelakang() : 'Data tidak tersedia'}"></td>


                <td th:text="${_kelompok.jumlahAnggota}"></td>
                <td th:text="${_kelompok.luasSawah}"></td>
                <td th:text="${_kelompok.luasDarat}"></td>
                <td>
                    <a th:href="${'/kelompok-tani/edit/' + _kelompok.id}">
                        <span class="fa fa-edit"></span>
                    </a>
                    |
                    <a th:href="${'/kelompok-tani/hapus/' + _kelompok.id}">
                        <span class="fa fa-trash"></span>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <a class="btn btn-primary" href="/kelompok-tani/create">Add New</a>
</div>

<div th:replace="'template/footer' :: footer"></div>

<!-- Bootstrap core JavaScript
================================================== -->
<script crossorigin="anonymous"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script
        crossorigin="anonymous"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
<script
        crossorigin="anonymous"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>

</body>
</html>